.editor-styles-wrapper .barn2-wc-product-table-block,
.barn2-wc-product-table-block {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont,  'Segoe UI', Roboto, 'Helvetica Neue',  Ubuntu, Arial, sans-serif;
  line-height: 1;
  padding: 1em;
  background: rgba(139, 139, 150, 0.1);
  color: #333333;
  overflow: visible; }
  .editor-styles-wrapper .barn2-wc-product-table-block *,
  .barn2-wc-product-table-block * {
    box-sizing: inherit;
    font-family: inherit;
    color: inherit; }
  .editor-styles-wrapper .barn2-wc-product-table-block a, .editor-styles-wrapper .barn2-wc-product-table-block components-button.is-secondary,
  .barn2-wc-product-table-block a,
  .barn2-wc-product-table-block components-button.is-secondary {
    color: #005d8c; }
  .editor-styles-wrapper .barn2-wc-product-table-block h3, .editor-styles-wrapper .barn2-wc-product-table-block p, .editor-styles-wrapper .barn2-wc-product-table-block li,
  .barn2-wc-product-table-block h3,
  .barn2-wc-product-table-block p,
  .barn2-wc-product-table-block li {
    font-size: 13px; }
  .editor-styles-wrapper .barn2-wc-product-table-block h3,
  .barn2-wc-product-table-block h3 {
    font-weight: 600; }
  .editor-styles-wrapper .barn2-wc-product-table-block .components-placeholder__label,
  .barn2-wc-product-table-block .components-placeholder__label {
    display: flex;
    align-items: center; }
  .editor-styles-wrapper .barn2-wc-product-table-block .components-placeholder__fieldset,
  .barn2-wc-product-table-block .components-placeholder__fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .editor-styles-wrapper .barn2-wc-product-table-block__options,
  .barn2-wc-product-table-block__options {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid rgba(139, 139, 150, 0.1);
    display: flex;
    align-items: flex-start; }
    .editor-styles-wrapper .barn2-wc-product-table-block__options > *,
    .barn2-wc-product-table-block__options > * {
      flex: 0 1 50%; }
  .editor-styles-wrapper .barn2-wc-product-table-block__products,
  .barn2-wc-product-table-block__products {
    margin-left: 1em; }
  .editor-styles-wrapper .barn2-wc-product-table-block .empty-options,
  .barn2-wc-product-table-block .empty-options {
    font-style: italic;
    flex: 1 1 100%; }
  .editor-styles-wrapper .barn2-wc-product-table-block .table-column-options:not(:empty) ~ p.empty-options,
  .barn2-wc-product-table-block .table-column-options:not(:empty) ~ p.empty-options {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block__columns,
  .barn2-wc-product-table-block__columns {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .editor-styles-wrapper .barn2-wc-product-table-block__columns h3, .editor-styles-wrapper .barn2-wc-product-table-block__columns p,
    .barn2-wc-product-table-block__columns h3,
    .barn2-wc-product-table-block__columns p {
      flex: 1 1 100%; }
    .editor-styles-wrapper .barn2-wc-product-table-block__columns ul:not(:empty) ~ p.empty-options,
    .barn2-wc-product-table-block__columns ul:not(:empty) ~ p.empty-options {
      display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block__column-selector, .editor-styles-wrapper .barn2-wc-product-table-block__attribute-selector, .editor-styles-wrapper .barn2-wc-product-table-block__custom-input,
  .barn2-wc-product-table-block__column-selector,
  .barn2-wc-product-table-block__attribute-selector,
  .barn2-wc-product-table-block__custom-input {
    margin: 0 0.5em 0 0;
    height: 36px; }
    .editor-styles-wrapper .barn2-wc-product-table-block__column-selector.selected ~ .barn2-wc-product-table-block__add-column-button, .editor-styles-wrapper .barn2-wc-product-table-block__attribute-selector.selected ~ .barn2-wc-product-table-block__add-column-button, .editor-styles-wrapper .barn2-wc-product-table-block__custom-input.selected ~ .barn2-wc-product-table-block__add-column-button,
    .barn2-wc-product-table-block__column-selector.selected ~ .barn2-wc-product-table-block__add-column-button,
    .barn2-wc-product-table-block__attribute-selector.selected ~ .barn2-wc-product-table-block__add-column-button,
    .barn2-wc-product-table-block__custom-input.selected ~ .barn2-wc-product-table-block__add-column-button {
      display: block; }
  .editor-styles-wrapper .barn2-wc-product-table-block__add-column-button,
  .barn2-wc-product-table-block__add-column-button {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block__column-selector:not(.select-attribute) ~ .barn2-wc-product-table-block__attribute-selector,
  .editor-styles-wrapper .barn2-wc-product-table-block__column-selector:not(.select-custom) ~ .barn2-wc-product-table-block__custom-input,
  .barn2-wc-product-table-block__column-selector:not(.select-attribute) ~ .barn2-wc-product-table-block__attribute-selector,
  .barn2-wc-product-table-block__column-selector:not(.select-custom) ~ .barn2-wc-product-table-block__custom-input {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected,
  .barn2-wc-product-table-block__columns-selected {
    list-style: none;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1; }
    .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li,
    .barn2-wc-product-table-block__columns-selected li {
      margin: 0;
      padding: 0.5em;
      background: rgba(139, 139, 150, 0.1);
      line-height: inherit;
      cursor: grab;
      line-height: 1;
      display: flex;
      justify-content: stretch;
      align-items: center; }
      .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li:hover,
      .barn2-wc-product-table-block__columns-selected li:hover {
        outline: 1px solid rgba(0, 93, 140, 0.5); }
        .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li:hover > svg,
        .barn2-wc-product-table-block__columns-selected li:hover > svg {
          fill: rgba(0, 93, 140, 0.5); }
      .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li span,
      .barn2-wc-product-table-block__columns-selected li span {
        flex: 1 1 auto;
        margin-left: 1em;
        margin-right: 1em; }
        .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li span strong + em,
        .barn2-wc-product-table-block__columns-selected li span strong + em {
          font-weight: normal;
          font-style: normal; }
          .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li span strong + em::before,
          .barn2-wc-product-table-block__columns-selected li span strong + em::before {
            content: ': '; }
      .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li + li,
      .barn2-wc-product-table-block__columns-selected li + li {
        margin-top: 0.5em; }
      .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected li > svg,
      .barn2-wc-product-table-block__columns-selected li > svg {
        fill: rgba(139, 139, 150, 0.25); }
    .editor-styles-wrapper .barn2-wc-product-table-block__columns-selected:not(:empty),
    .barn2-wc-product-table-block__columns-selected:not(:empty) {
      margin-top: 10px;
      margin-bottom: 10px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .save-table-columns-button, .editor-styles-wrapper .barn2-wc-product-table-block .open-settings-panel-button,
  .barn2-wc-product-table-block .save-table-columns-button,
  .barn2-wc-product-table-block .open-settings-panel-button {
    align-self: flex-end;
    background: #191e23;
    color: white;
    flex: 0 0 auto;
    margin-left: auto; }
  .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query,
  .barn2-wc-product-table-block .product-selection-query {
    background: white;
    border: 1px solid #191e23;
    border-top: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters,
    .barn2-wc-product-table-block .product-selection-query .product-selection-filters {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      list-style: none;
      margin: 0 0 10px 0;
      padding: 0; }
      .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters:empty,
      .barn2-wc-product-table-block .product-selection-query .product-selection-filters:empty {
        display: none; }
      .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters li,
      .barn2-wc-product-table-block .product-selection-query .product-selection-filters li {
        display: flex;
        align-items: center;
        margin: 0 5px;
        padding: 5px 5px 5px 10px;
        background: #eeeeee; }
        .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters li button,
        .barn2-wc-product-table-block .product-selection-query .product-selection-filters li button {
          padding: 0;
          margin-left: 5px;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-wrapper,
  .barn2-wc-product-table-block .customize-filter-wrapper {
    margin-left: 10px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-save-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filters-button,
  .barn2-wc-product-table-block .customize-filters-save-button,
  .barn2-wc-product-table-block .customize-filters-add-button {
    padding: 5px;
    border-radius: 3px;
    background: #191e23;
    color: white;
    line-height: 1;
    height: auto; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-button[aria-expanded="false"] ~ .customize-filters-modal,
  .editor-styles-wrapper .barn2-wc-product-table-block .open-settings-panel-button[aria-expanded="false"] ~ .table-settings-panel-modal,
  .barn2-wc-product-table-block .customize-filters-button[aria-expanded="false"] ~ .customize-filters-modal,
  .barn2-wc-product-table-block .open-settings-panel-button[aria-expanded="false"] ~ .table-settings-panel-modal {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-add-new-selection,
  .barn2-wc-product-table-block .customize-filter-add-new-selection {
    margin: 5px 0 0 0; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-add-new-selection.selected,
    .barn2-wc-product-table-block .customize-filter-add-new-selection.selected {
      flex: 0 0 75%; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-new-option,
  .barn2-wc-product-table-block .customize-filter-new-option {
    margin: 5px 0 0 0;
    flex: 1 1 100%; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-new-option:not(.visible),
    .barn2-wc-product-table-block .customize-filter-new-option:not(.visible) {
      display: none; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-new-option.selected,
    .barn2-wc-product-table-block .customize-filter-new-option.selected {
      flex: 0 0 75%; }
  .editor-styles-wrapper .barn2-wc-product-table-block input,
  .barn2-wc-product-table-block input {
    border: 1px solid #999999;
    padding: 5px;
    font-size: 13px;
    border-radius: 3px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-selections:empty,
  .barn2-wc-product-table-block .customize-filter-selections:empty {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filters-add-button {
    flex: 0 0 calc( 25% - 5px);
    margin-left: auto;
    margin-top: 5px;
    align-self: stretch; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-save-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-add-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-andor,
  .barn2-wc-product-table-block .customize-filters-save-button,
  .barn2-wc-product-table-block .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filters-andor {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-andor,
  .barn2-wc-product-table-block .customize-filters-andor {
    align-self: center;
    margin-top: 5px; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-andor .components-base-control__field,
    .barn2-wc-product-table-block .customize-filters-andor .components-base-control__field {
      margin-bottom: 0; }
  .editor-styles-wrapper .barn2-wc-product-table-block .selected ~ .customize-filters-add-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-selections:not(:empty) ~ .customize-filters-save-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .allow-andor .customize-filter-selections:not(:empty) ~ .customize-filters-andor,
  .barn2-wc-product-table-block .selected ~ .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filter-selections:not(:empty) ~ .customize-filters-save-button,
  .barn2-wc-product-table-block .allow-andor .customize-filter-selections:not(:empty) ~ .customize-filters-andor {
    display: block; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-save-button,
  .barn2-wc-product-table-block .customize-filters-save-button {
    flex: 0 1 30%;
    margin-left: auto;
    margin-top: 5px;
    height: 30px; }
  .editor-styles-wrapper .barn2-wc-product-table-block ul.customize-filter-selections,
  .barn2-wc-product-table-block ul.customize-filter-selections {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .editor-styles-wrapper .barn2-wc-product-table-block ul.customize-filter-selections li,
    .barn2-wc-product-table-block ul.customize-filter-selections li {
      padding: 5px;
      background: #eeeeee;
      margin: 0 2.5px 5px 0; }
