.editor-styles-wrapper .barn2-wc-product-table-block,
.barn2-wc-product-table-block {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont,  'Segoe UI', Roboto, 'Helvetica Neue',  Ubuntu, Arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333333;
  padding: 0;
  overflow: visible; }
  .editor-styles-wrapper .barn2-wc-product-table-block *,
  .barn2-wc-product-table-block * {
    box-sizing: inherit;
    font-family: inherit; }
  .editor-styles-wrapper .barn2-wc-product-table-block h2, .editor-styles-wrapper .barn2-wc-product-table-block h3,
  .barn2-wc-product-table-block h2,
  .barn2-wc-product-table-block h3 {
    color: inherit;
    font-size: 1.5em; }
  .editor-styles-wrapper .barn2-wc-product-table-block h3,
  .barn2-wc-product-table-block h3 {
    font-size: 1.25em;
    margin-bottom: 0;
    align-self: center;
    height: 36px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .product-table-column-preview,
  .barn2-wc-product-table-block .product-table-column-preview {
    display: flex;
    width: 100%;
    background: #eeeeee;
    border: 1px solid #191e23;
    overflow: visible;
    position: relative;
    z-index: 28; }
    .editor-styles-wrapper .barn2-wc-product-table-block .product-table-column-preview > span,
    .barn2-wc-product-table-block .product-table-column-preview > span {
      flex: 1 1 auto;
      color: inherit;
      padding: 10px 5px; }
      .editor-styles-wrapper .barn2-wc-product-table-block .product-table-column-preview > span + span,
      .barn2-wc-product-table-block .product-table-column-preview > span + span {
        border-left: 1px solid #191e23; }
    .editor-styles-wrapper .barn2-wc-product-table-block .product-table-column-preview button.customize-columns,
    .barn2-wc-product-table-block .product-table-column-preview button.customize-columns {
      appearance: none;
      background: #191e23;
      color: white;
      border-radius: 0;
      height: auto;
      align-self: stretch;
      padding-left: 20px;
      padding-right: 20px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .empty-options,
  .barn2-wc-product-table-block .empty-options {
    font-style: italic;
    flex: 1 1 100%; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-column-modal, .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-modal, .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel-modal,
  .barn2-wc-product-table-block .customize-column-modal,
  .barn2-wc-product-table-block .customize-filters-modal,
  .barn2-wc-product-table-block .table-settings-panel-modal {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: absolute;
    top: calc( 100% - 1px);
    right: 0;
    border: 1px solid #191e23;
    padding: 15px;
    background: white;
    z-index: 28;
    max-width: 320px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .table-column-options:not(:empty) ~ p.empty-options,
  .barn2-wc-product-table-block .table-column-options:not(:empty) ~ p.empty-options {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .table-column-options,
  .barn2-wc-product-table-block .table-column-options {
    list-style: none;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1; }
    .editor-styles-wrapper .barn2-wc-product-table-block .table-column-options li,
    .barn2-wc-product-table-block .table-column-options li {
      margin: 0;
      padding: 5px 10px;
      background: #eeeeee;
      line-height: inherit;
      cursor: grab;
      line-height: 1;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .editor-styles-wrapper .barn2-wc-product-table-block .table-column-options li + li,
      .barn2-wc-product-table-block .table-column-options li + li {
        margin-top: 3px; }
    .editor-styles-wrapper .barn2-wc-product-table-block .table-column-options:not(:empty),
    .barn2-wc-product-table-block .table-column-options:not(:empty) {
      margin-top: 10px;
      margin-bottom: 10px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-selection,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-attribute-selection,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-custom-entry,
  .barn2-wc-product-table-block .new-table-column-selection,
  .barn2-wc-product-table-block .new-table-column-attribute-selection,
  .barn2-wc-product-table-block .new-table-column-custom-entry {
    margin: 0;
    flex: 1 1 100%;
    height: 36px;
    margin-top: 5px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-selection.selected,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-attribute-selection.selected,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-custom-entry.selected,
  .barn2-wc-product-table-block .new-table-column-selection.selected,
  .barn2-wc-product-table-block .new-table-column-attribute-selection.selected,
  .barn2-wc-product-table-block .new-table-column-custom-entry.selected {
    flex: 0 0 75%; }
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-attribute-selection,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-custom-entry,
  .barn2-wc-product-table-block .new-table-column-attribute-selection,
  .barn2-wc-product-table-block .new-table-column-custom-entry {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-selection.select-attribute ~ .new-table-column-attribute-selection,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-selection.select-custom ~ .new-table-column-custom-entry,
  .barn2-wc-product-table-block .new-table-column-selection.select-attribute ~ .new-table-column-attribute-selection,
  .barn2-wc-product-table-block .new-table-column-selection.select-custom ~ .new-table-column-custom-entry {
    display: block; }
  .editor-styles-wrapper .barn2-wc-product-table-block .add-table-column-button,
  .barn2-wc-product-table-block .add-table-column-button {
    text-align: center;
    border: 1px solid #191e23;
    flex: 0 0 calc( 25% - 5px);
    margin-left: 5px;
    margin-top: 5px;
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-selection.selected ~ .add-table-column-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-attribute-selection.selected ~ .add-table-column-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .new-table-column-custom-entry.selected ~ .add-table-column-button,
  .barn2-wc-product-table-block .new-table-column-selection.selected ~ .add-table-column-button,
  .barn2-wc-product-table-block .new-table-column-attribute-selection.selected ~ .add-table-column-button,
  .barn2-wc-product-table-block .new-table-column-custom-entry.selected ~ .add-table-column-button {
    display: block; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-column-modal:not(.opened),
  .barn2-wc-product-table-block .customize-column-modal:not(.opened) {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-column-modal:not(.changed) .save-table-columns-button,
  .barn2-wc-product-table-block .customize-column-modal:not(.changed) .save-table-columns-button {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .save-table-columns-button, .editor-styles-wrapper .barn2-wc-product-table-block .open-settings-panel-button,
  .barn2-wc-product-table-block .save-table-columns-button,
  .barn2-wc-product-table-block .open-settings-panel-button {
    align-self: flex-end;
    background: #191e23;
    color: white;
    flex: 0 0 auto;
    margin-left: auto; }
  .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query,
  .barn2-wc-product-table-block .product-selection-query {
    background: white;
    border: 1px solid #191e23;
    border-top: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters,
    .barn2-wc-product-table-block .product-selection-query .product-selection-filters {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      list-style: none;
      margin: 0 0 10px 0;
      padding: 0; }
      .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters:empty,
      .barn2-wc-product-table-block .product-selection-query .product-selection-filters:empty {
        display: none; }
      .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters li,
      .barn2-wc-product-table-block .product-selection-query .product-selection-filters li {
        display: flex;
        align-items: center;
        margin: 0 5px;
        padding: 5px 5px 5px 10px;
        background: #eeeeee; }
        .editor-styles-wrapper .barn2-wc-product-table-block .product-selection-query .product-selection-filters li button,
        .barn2-wc-product-table-block .product-selection-query .product-selection-filters li button {
          padding: 0;
          margin-left: 5px;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-wrapper,
  .barn2-wc-product-table-block .customize-filter-wrapper {
    position: relative;
    z-index: 28;
    margin-left: 10px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-save-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filters-button,
  .barn2-wc-product-table-block .customize-filters-save-button,
  .barn2-wc-product-table-block .customize-filters-add-button {
    padding: 5px;
    border-radius: 3px;
    background: #191e23;
    color: white;
    line-height: 1;
    height: auto; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-button[aria-expanded="false"] ~ .customize-filters-modal,
  .editor-styles-wrapper .barn2-wc-product-table-block .open-settings-panel-button[aria-expanded="false"] ~ .table-settings-panel-modal,
  .barn2-wc-product-table-block .customize-filters-button[aria-expanded="false"] ~ .customize-filters-modal,
  .barn2-wc-product-table-block .open-settings-panel-button[aria-expanded="false"] ~ .table-settings-panel-modal {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-add-new-selection,
  .barn2-wc-product-table-block .customize-filter-add-new-selection {
    margin: 5px 0 0 0; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-add-new-selection.selected,
    .barn2-wc-product-table-block .customize-filter-add-new-selection.selected {
      flex: 0 0 75%; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-new-option,
  .barn2-wc-product-table-block .customize-filter-new-option {
    margin: 5px 0 0 0;
    flex: 1 1 100%; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-new-option:not(.visible),
    .barn2-wc-product-table-block .customize-filter-new-option:not(.visible) {
      display: none; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-new-option.selected,
    .barn2-wc-product-table-block .customize-filter-new-option.selected {
      flex: 0 0 75%; }
  .editor-styles-wrapper .barn2-wc-product-table-block input,
  .barn2-wc-product-table-block input {
    border: 1px solid #999999;
    padding: 5px;
    font-size: 13px;
    border-radius: 3px; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-selections:empty,
  .barn2-wc-product-table-block .customize-filter-selections:empty {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filters-add-button {
    flex: 0 0 calc( 25% - 5px);
    margin-left: auto;
    margin-top: 5px;
    align-self: stretch; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-save-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-add-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-andor,
  .barn2-wc-product-table-block .customize-filters-save-button,
  .barn2-wc-product-table-block .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filters-andor {
    display: none; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-andor,
  .barn2-wc-product-table-block .customize-filters-andor {
    align-self: center;
    margin-top: 5px; }
    .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-andor .components-base-control__field,
    .barn2-wc-product-table-block .customize-filters-andor .components-base-control__field {
      margin-bottom: 0; }
  .editor-styles-wrapper .barn2-wc-product-table-block .selected ~ .customize-filters-add-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filter-selections:not(:empty) ~ .customize-filters-save-button,
  .editor-styles-wrapper .barn2-wc-product-table-block .allow-andor .customize-filter-selections:not(:empty) ~ .customize-filters-andor,
  .barn2-wc-product-table-block .selected ~ .customize-filters-add-button,
  .barn2-wc-product-table-block .customize-filter-selections:not(:empty) ~ .customize-filters-save-button,
  .barn2-wc-product-table-block .allow-andor .customize-filter-selections:not(:empty) ~ .customize-filters-andor {
    display: block; }
  .editor-styles-wrapper .barn2-wc-product-table-block .customize-filters-save-button,
  .barn2-wc-product-table-block .customize-filters-save-button {
    flex: 0 1 30%;
    margin-left: auto;
    margin-top: 5px;
    height: 30px; }
  .editor-styles-wrapper .barn2-wc-product-table-block ul.customize-filter-selections,
  .barn2-wc-product-table-block ul.customize-filter-selections {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .editor-styles-wrapper .barn2-wc-product-table-block ul.customize-filter-selections li,
    .barn2-wc-product-table-block ul.customize-filter-selections li {
      padding: 5px;
      background: #eeeeee;
      margin: 0 2.5px 5px 0; }
  .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel,
  .barn2-wc-product-table-block .table-settings-panel {
    display: flex;
    position: relative;
    z-index: 27;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%; }
    .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel-modal,
    .barn2-wc-product-table-block .table-settings-panel-modal {
      width: 400px;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      text-align: left; }
      .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control,
      .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control {
        width: 100%;
        text-align: left;
        margin-bottom: 10px; }
        .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control__field, .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control__label, .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control__input,
        .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control__field,
        .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control__label,
        .barn2-wc-product-table-block .table-settings-panel-modal .components-base-control__input {
          width: 100%; }
    .editor-styles-wrapper .barn2-wc-product-table-block .table-settings-panel .custom-product-filter-option[aria-hidden="true"],
    .barn2-wc-product-table-block .table-settings-panel .custom-product-filter-option[aria-hidden="true"] {
      display: none; }
